# Programm paths
ffmpeg=/SCR/msc/binaries/ffmpeg/ffmpeg
bmdcapture=/SCR/msc/binaries/bmdtools/bmdcapture
WORKSPACE_PATH=false

#+++ Recording
ff_soundsys=false
ff_soundhw=false
rec_numvidcaptcards=false
mod_vidcaptcards=(10 12)
layout_preset=false

#+++ slideshifts
I_ticks=1									# time interval in seconds for image-extracting
file_compare_values="compare.values.txt"
file_compare_sections="sects.txt"
file_slideshifts="slide.shifts.txt"
file_sect_merge="ocr.sect.merge.txt"
file_sect_stopwords="ocr.sect.stopwords.txt"

#+++ ocr
ocr_lang="eng"
max_sect_tags=5
