# Programm paths
ffmpeg=/SCR/msc/binaries/ffmpeg/ffmpeg
bmdcapture=/SCR/msc/binaries/bmdtools/bmdcapture
WORKSPACE_PATH=false

#+++ Recording
ff_soundsys=false						# 0
ff_soundhw=false						# 1
rec_audcodec=false					# 2
rec_vidcodec=false					# 3
layout_preset=false					# 4
rec_numvidcaptcards=false		###
mod_vidcaptcards=(10 12)		###
rec_outfile=false						# 5

rec_config=(
"Sound-Treiber"
"Sounds-Hardware"
"Audio-Encoder"
"Video-Encoder"
"Layout-Vorlage"
"Datei-Name"
)
rec_default=(
"alsa"											# 0
"default"										# 1
"ac3"												# 2
"libx264 -preset veryfast"	# 3
"sidebyside1080bl"					# 4
"auto"											# 5
)


#+++ slideshifts
I_ticks=1									# time interval in seconds for image-extracting
file_compare_values="compare.values.txt"
file_compare_sections="sects.txt"
file_slideshifts="slide.shifts.txt"
file_sect_merge="ocr.sect.merge.txt"
file_sect_stopwords="ocr.sect.stopwords.txt"

#+++ ocr
ocr_lang="eng"
max_sect_tags=5
